<%- include('templates/header') %>

<div class="container">

<%- include('templates/emulator/platform-tabs', {active:'undefined'}) %>

</div>

<script type="text/javascript">
	window.location = '/emulator/windows';
</script>

<%- include('templates/footer') %>