	<div class="container">

		<hr>
			
		<footer class="footer">
			
			<p class="pull-right" style="text-align:center;">
				<a title="@nesboxcom" rel="tooltip" href="http://twitter.com/nesboxcom">twitter</a> <span class="text-muted">|</span>
				<a href="http://facebook.com/nesbox">facebook</a> <span class="text-muted">|</span>
				<a href="http://vk.com/nesboxclub">vkontakte</a> <span class="text-muted">|</span>
				<a href="https://plus.google.com/+Nesbox">google+</a> <span class="text-muted">|</span>
				<a title="support@nesbox.com" rel="tooltip" href="mailto:support@nesbox.com">support</a>
			</p>
			
		    <p class="pull-left">&copy; 2015 Nesbox. All rights reserved.</a></p>
		</footer>
				
	</div>
	
</body>
</html>