<div class="jumbotron hidden-xs">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<a href="/"><img src="/img/biglogo.png"></a>
			</div>

			<div class="col-md-9">
				<h1>Nesbox</h1>
				<p>mobile and web development</p>
			</div>
		</div>
	</div>
</div>